{% extends 'syncomercial/base.html' %}


{% block page_name %}TODOS OS DISTRIBUIDORES{% endblock %}

{% block content %}
    
    
    <div class="row" style="max-width: 1024px;">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-secondary">
              <h3 class="card-title">Distribuidores</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Pesquisar">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover table-striped" data-link="row">
                <thead class="bg-secondary">
                  <tr>
                    <th>CODE SAP</th>
                    <th>RAZ&Atilde;O SOCIAL</th>
                    <th>NOME FANTASIA</th>
                    <th>&Uacute;LTIMA ATUALIZA&Ccedil;&Atilde;O</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for distribuidor in distribuidores %}
                    <td><a class="text-primary" href="{% url 'syncomercial:distribuidor_detalhe' distribuidor.id %}">{{ distribuidor.code_sap }}</a></td>
                    <td><a class="text-primary" href="{% url 'syncomercial:distribuidor_detalhe' distribuidor.id %}">{{ distribuidor.razao_social }}</a></td>
                    <td><a class="text-primary" href="{% url 'syncomercial:distribuidor_detalhe' distribuidor.id %}">{{ distribuidor.nome_fantasia }}</a></td>
                    <td><a class="text-primary" href="{% url 'syncomercial:distribuidor_detalhe' distribuidor.id %}">{{ distribuidor.atualizado_em|date:'H:i - d/M/Y' }}</a></td>
                  </tr>
                    {% empty %}
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>


{% endblock %}
