{% extends 'syncomercial/base.html' %}


{% block page_name %}DETALHES DO DISTRIBUIDOR{% endblock %}

{% block content %}
<!-- Card com Dados Basicos -->
<div class="card card-info" style="max-width: 1024px;">
  <div class="card-header bg-secondary">
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
    <h3 class="card-title">Dados B&aacute;sicos</h3>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-4">
        <input class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap" placeholder="{{ distribuidor.id }}" readonly>
      </div>
      <div class="col-sm-6 mt-auto">
        <small class="form-text text-muted">* identifica&ccedil;&atilde;o do distribuidor no sistema Onix Web</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="code_sap" class="col-sm-2 col-form-label">Code SAP</label>
      <div class="col-sm-4">
        <input class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap" placeholder="{{ distribuidor.code_sap }}" readonly>
      </div>
      <div class="col-sm-6 mt-auto">
        <small class="form-text text-muted">* identifica&ccedil;&atilde;o do distribuidor na Syngenta</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="razao_social" class="col-sm-2 col-form-label">Raz&atilde;o Social</label>
      <div class="col-sm-10">
        <input class="form-control-plaintext border-bottom border-top-0 border-gray" id="razao_social" placeholder="{{ distribuidor.razao_social }}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="nome_fantasia" class="col-sm-2 col-form-label">Nome Fantasia</label>
      <div class="col-sm-10">
        <input class="form-control-plaintext border-bottom border-top-0 border-gray" id="razao_social" placeholder="{{ distribuidor.nome_fantasia }}" readonly>
      </div>
    </div>
  </div>  
</div>
<!-- Card com Dados Basicos -->

<!-- Card com dados das RTVS --> 
<div class="card card-info" style="max-width: 1024px;">
  <div class="card-header bg-secondary">
    <div class="container-fluid ">
      <div class="row">
        <div>
          <h3 class="card-title">RTVs</h3>
        </div>
        <div class="ml-auto">
          <a href="{% url 'syncomercial:rtv_atribuir' distribuidor.id %}" type="button" class="btn btn-block btn-success btn-xs ml-auto"><i class="fas fa-sign-in-alt"></i> Atribuir</a>
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
      <table class="table table-hover table-striped" data-link="row">
        {% if rtvs %}
        <thead>
          <tr>  
            <th></th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefones</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for rtv in rtvs %}
          <tr>
            <td><a class="text-warning" href="{% url 'syncomercial:rtv_editar' rtv.RTV.id %}"><i class="fas fa-edit"></i></a></td>
            <td><a href="#">{{ rtv.RTV.nome }}</a></td>
            <td><a href="#">{%if rtv.RTV.email %}{{ rtv.RTV.email }}{% endif %}</a></td>
            <td><a href="#">{%if rtv.RTV.telefone1 %}({{ rtv.RTV.ddd1 }}) {{rtv.RTV.telefone1}}{% endif %}</a></td>
            <td><a href="#">{%if rtv.RTV.telefone2 %}({{ rtv.RTV.ddd2 }}) {{rtv.RTV.telefone2}}{% endif %}</a></td>
            <td><a class="text-danger" href="{% url 'syncomercial:rtv_desatribuir' rtv.RTV.id distribuidor.id %}"><i class="fas fa-sign-out-alt"></i></a></td>
          </tr>
          {% empty %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<!-- Card com dados dos RTVs --> 

<!-- Card com dados das Responsaveis --> 
<div class="card card-info" style="max-width: 1024px;">
  <div class="card-header bg-secondary">
    <div class="container-fluid ">
      <div class="row">
        <div>
          <h3 class="card-title">Respons&aacute;veis</h3>
        </div>
        <div class="ml-auto">
          <a href="{% url 'syncomercial:responsavel_atribuir' distribuidor.id %}" type="button" class="btn btn-block btn-success btn-xs ml-auto"><i class="fas fa-sign-in-alt"></i> Atribuir</a>
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
      <table class="table table-hover table-striped" data-link="row">
        {% if responsaveis %}
        <thead>
          <tr>  
            <th></th>
            <th>Nome</th>
            <th>Atua&ccedil;&atilde;o</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefones</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for responsavel in responsaveis %}
          <tr>
            <td><a class="text-warning" href="{% url 'syncomercial:responsavel_editar' responsavel.responsavel.id %}"><i class="fas fa-edit"></i></a></td>
            <td><a href="#">{{ responsavel.responsavel.nome }}</a></td>
            <td><a href="#">{% if responsavel.responsavel.atuacao %}{{ responsavel.responsavel.atuacao }}{% endif %}</a></td>
            <td><a href="#">{% if responsavel.responsavel.cargo %}{{ responsavel.responsavel.cargo }}{% endif %}</a></td>
            <td><a href="#">{% if responsavel.responsavel.email %}{{ responsavel.responsavel.email }}{% endif %}</a></td>
            <td><a href="#">{% if responsavel.responsavel.telefone1 %}({{ responsavel.responsavel.ddd1 }}) {{responsavel.responsavel.telefone1}}{% endif %}</a></td>
            <td><a href="#">{% if responsavel.responsavel.telefone2 %}({{ responsavel.responsavel.ddd2 }}) {{responsavel.responsavel.telefone2}}{% endif %}</a></td>
            <td><a class="text-danger" href="{% url 'syncomercial:responsavel_desatribuir' responsavel.responsavel.id distribuidor.id %}"><i class="fas fa-sign-out-alt"></i></a></td>
          </tr>
          {% empty %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<!-- Card com dados dos RTVs --> 


<!-- Card com dados das Filiais --> 
<div class="card card-info" style="max-width: 1024px;">
  <div class="card-header bg-secondary">
    <div class="container-fluid ">
      <div class="row">
        <div>
          <h3 class="card-title">Filiais</h3>
        </div>
        <div class="ml-auto">
          <a href="{% url 'syncomercial:filial_adicionar' distribuidor.id %}" type="button" class="btn btn-block btn-success btn-xs ml-auto"><i class="fas fa-plus-square"></i> Adicionar</a>
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
      <table class="table table-hover table-striped" data-link="row">
        {% if filiais %}
        <thead>
          <tr>
            <th></th>
            <th>Codigo</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Endere&ccedil;o</th>
            <th>Cidade</th>
            <th>UF</th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for filial in filiais %}
          <tr>
            <td><a class="text-warning" href="{% url 'syncomercial:filial_editar' filial.id %}"><i class="fas fa-edit"></i></a></td>
            <td><a href="{% url 'syncomercial:filial_detalhe' filial.id %}">{{ filial.codigo }}</a></td>
            <td><a href="{% url 'syncomercial:filial_detalhe' filial.id %}">{{ filial.nome }}</a></td>
            <td><a href="{% url 'syncomercial:filial_detalhe' filial.id %}">{{ filial.cnpj }}</a></td>
            <td><a href="{% url 'syncomercial:filial_detalhe' filial.id %}">{{ filial.endereco|truncatechars:40 }}</a></td>
            <td><a href="{% url 'syncomercial:filial_detalhe' filial.id %}">{{ filial.cidade }}</a></td>
            <td><a href="{% url 'syncomercial:filial_detalhe' filial.id %}">{{ filial.estado }}</a></td>
          </tr>
          {% empty %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<!-- Card com dados das Filiais --> 




{% endblock content %}