{% extends 'syncomercial/base.html' %}


{% block page_name %}TODOS OS RESPONS&Aacute;VEIS{% endblock %}

{% block content %}
<div class="row" style="max-width: 1024px;">
    <div class="col-12">
      <div class="card card-info" style="max-width: 1024px;">
        <div class="card-header bg-secondary">
          <div class="container-fluid ">
            <div class="row">
              <div>
                <h3 class="card-title">Respons&aacute;veis</h3>
              </div>
              <div class="ml-auto">
                <a href="{% url 'syncomercial:responsavel_adicionar' %}" type="button" class="btn btn-block btn-success btn-xs ml-auto"><i class="fas fa-plus-square"></i> Adicionar</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover" data-link="row">
            <thead class="bg-secondary">
              <tr>
                <th></th>
                <th>NOME</th>
                <th>ATUA&Ccedil;&Atilde;O</th>
                <th>EMAIL</th>
                <th>TELEFONES</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for responsavel in responsaveis %}
                <td><a class="text-warning" href="{% url 'syncomercial:responsavel_editar' responsavel.id %}"><i class="fas fa-edit"></i></a></td>
                <td><a class="text-primary" href="{% url 'syncomercial:responsavel_detalhe' responsavel.id %}">{{ responsavel.nome }}</a></td>
                <td><a class="text-primary" href="{% url 'syncomercial:responsavel_detalhe' responsavel.id %}">{% if responsavel.atuacao %}{{ responsavel.atuacao }}{% endif %}</a></td>
                <td><a class="text-primary" href="{% url 'syncomercial:responsavel_detalhe' responsavel.id %}">{% if responsavel.email %}{{ responsavel.email }}{% endif %}</a></td>
                <td><a class="text-primary" href="{% url 'syncomercial:responsavel_detalhe' responsavel.id %}">{% if responsavel.telefone1 %}({{ responsavel.ddd1 }}) {{responsavel.telefone1|slice:"-9:-4"}}-{{responsavel.telefone1|slice:"-4:"}}{% endif %}</a></td>
                <td><a class="text-primary" href="{% url 'syncomercial:responsavel_detalhe' responsavel.id %}">{% if responsavel.telefone2 %}({{ responsavel.ddd2 }}) {{responsavel.telefone2|slice:"-9:-4"}}-{{responsavel.telefone2|slice:"-4:"}}{% endif %}</a></td>
              </tr>
                {% empty %}
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}
