{% extends 'syncomercial/base.html' %}


{% block page_name %}EDITAR RESPONS&Aacute;VEL{% endblock %}

{% block content %}
    <!-- Form com Dados Basicos -->
    <div class="card card-info" style="max-width: 1024px;">
        <form action="{% url 'syncomercial:responsavel_editar' responsavel.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Save Changes</button>
        </form>
    </div>

      <!-- /.card -->
{% endblock content %}